<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center"> 
    
   
      <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
        <a
            href=""
            class="facebook"
            target="_blank"
            ><i class="bi bi-facebook"></i>
          </a>
          <a
            href=""
            class="instagram"
            target="_blank"
            ><i class="bi bi-instagram"></i>
          </a>
          <a
            href=""
            class="twitter"
            target="_blank"
            ><i class="bi bi-twitter"></i>
          </a>
          <a href="https://www.whatsapp.com/" class="whatsapp" target="_blank"
            ><i class="bi bi-whatsapp"></i>
          </a>
      </div>

     
      <div class="derechos-de-autor"> Copyright © 2024 - Todos los Derechos reservados|| Diseñado por: Catalina Krenz </div>
    </footer>