<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="img/logobaby.webp" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      BabyClothes
    </a>
  </div>
</nav>